html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}
.top-bar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

    .top-bar-fixed h1 {
        font-size: 1.8rem;
        margin: 0 auto;
        color: rgba(251,245,148,1);
        text-align: center;
        flex-grow: 1;
    }

.menu-button {
    background: rgba(255, 255, 255, 0.3);
    font-size: 1.2em;
    padding: 0.5em 1em;
    cursor: pointer;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: inset 0 0 8px rgba(102, 252, 241, 0.25), 0 0 12px rgba(102, 252, 241, 0.15);
    transition: all 0.2s ease-in-out;
}
.menu-button:hover {
    background: rgba(102, 252, 241, 0.2);
    box-shadow: inset 0 0 12px rgba(102, 252, 241, 0.4), 0 0 16px rgba(102, 252, 241, 0.3);
    color: rgba(220,220,220,1);
    border-color: rgba(102, 252, 241, 0.5);
}

.menu-dropdown {
    position: absolute;
    top: 45px;
    left: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.25); /* trasparente! */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: inset 0 0 8px rgba(102, 252, 241, 0.25), 0 0 12px rgba(102, 252, 241, 0.15);
    z-index: 1000;
}


.menu-dropdown.hidden {
  display: none;
}

    .menu-dropdown button {
        background: none;
        border: none;
        font-family: orbitron;
        color: white;
        padding: 0.5em;
        text-align: left;
        font-size: 1em;
        cursor: pointer;
        border-radius: 12px;
        transition: background 0.2s ease-in-out;
    }

        .menu-dropdown button:hover {
            background: rgba(102, 252, 241, 0.2);
            color: #aefeff; /* facoltativo: colore testo in hover */
        }

.scaled-text {
    display: inline-block;
    transform: scaleX(0.75);
    transform-origin: left;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    width: 133.33%;
}

main {
    padding-top: 80px; /* altezza della barra fissa */
}